@import "../../App.scss";

.SearchTextfield {
    display: flex;
    align-items: center;
    width: 60em;
    height: 1.75em;
    background-color: $white;
    border: 1px solid lighten($color: $black, $amount: 75);
    border-radius: 5px;
    padding: 1.5em 1em;
    margin-bottom: 2.5em;
    // -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.31); 
    // box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.31);
}

.SearchTextfield-Icon {
    color: lighten($color: $black, $amount: 50);
    margin-right: 0.5em;
}

.SearchTextfield-Input{
    flex: 1;
    border: none;
    outline: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: lighten($color: $black, $amount: 50);
    margin-bottom: .2em;
}
