@import "../../App.scss";

.SelectedWeatherDisplay-Light,
.SelectedWeatherDisplay-Dark {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    border-radius: 1em;
    padding-bottom: 1em;
}

.SelectedWeatherDisplay-Light {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/light-display-bg.jpg");
}

.SelectedWeatherDisplay-Dark {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/dark-display-bg.jpg");
}

.SelectedWeatherDisplay-Header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2em;
    color: $white;
    flex-wrap: wrap-reverse;
}

.City-Icon {
    font-size: 38pt;
    margin-right: 0.25em;
}

.City-Info-Container {
    align-items: center;
    cursor: default;
}

.City-Info-Container,
.City-Temperature-Container {
    display: flex;
}

.City-Temperature-Container {
    align-items: center;
}

.City-Name,
.City-Temperature {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    margin: 0;
}

.City-Name {
    font-size: 14pt;
    margin-bottom: -0.25em;
}

.City-Temperature {
    font-size: 22pt;
    margin-right: 0.25em;
}

.Selected-Default-Location-Btn {
    font-family: "Sarabun", sans-serif;
    cursor: default;
    font-weight: 300;
    font-size: 10pt;
}

.Location-Icon {
    margin-right: 0.25em;
}

.Default-Location-Btn {
    font-family: "Sarabun", sans-serif;
    text-decoration-line: underline;
    cursor: pointer;
    font-weight: 300;
    font-size: 10pt;
}

.SelectedWeatherDisplay-Add-Favorites-Btn{
    margin-bottom: 1em;
}

.Favorites-Icon {
    margin-right: 0.25em;
}

.SelectedWeatherDisplay-WeatherText {
    color: $white;
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-size: 45pt;
    text-align: center;
}

.SelectedWeatherDisplay-Footer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 530px) {

    .SelectedWeatherDisplay-Header {
        padding: 1em 1em 0 1em;
    }

    .SelectedWeatherDisplay-Footer {
        padding: 0;
    }

    .SelectedWeatherDisplay-WeatherText {
        font-size: 25pt;
    }
}