@import "../../App.scss";

.SelectedWeatherDisplay {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 60em;
    height: 34em;
    border-radius: 1em;
}

.SelectedWeatherDisplay-Header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;
    color: $white;
}

.City-Icon {
    font-size: 38pt;
    margin-right: 0.25em;
}

.City-Info-Container {
    align-items: center;
    cursor: default;
}

.City-Info-Container,
.City-Temperature-Container {
    display: flex;
}

.City-Temperature-Container {
    align-items: center;
}

.City-Name,
.City-Temperature {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    margin: 0;
}

.City-Name {
    font-size: 14pt;
    margin-bottom: -0.25em;
}

.City-Temperature {
    font-size: 22pt;
    margin-right: 0.25em;
}

.Selected-Default-Location-Btn {
    font-family: "Sarabun", sans-serif;
    cursor: default;
    font-weight: 300;
    font-size: 10pt;
}

.Location-Icon {
    margin-right: 0.25em;
}

.Default-Location-Btn {
    font-family: "Sarabun", sans-serif;
    text-decoration-line: underline;
    cursor: pointer;
    font-weight: 300;
    font-size: 10pt;
}

.Favorites-Icon {
    margin-right: 0.25em;
}

.SelectedWeatherDisplay-WeatherText {
    color: $white;
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-size: 45pt;
    text-align: center;
}

.SelectedWeatherDisplay-Footer {
    display: flex;
    justify-content: center;
}
