//Colors
$white: #ffffff;
$black: #000000;
$purple: #805acb;
$purpleViolet: #b388ff;
$blue: #5e6fcb;
$pink: #ef5b85;

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-Nav-Toggle-Dark {
    background-color: $white !important;
}
.App-Nav-Toggle-Dark:focus {
    outline: none !important;
    box-shadow: none !important;
}

.App-Body-Light,
.App-Body-Dark {
    flex: 1;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.App-Body-Light {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/images/light-theme-bg.jpg");
}

.App-Body-Dark {
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("/images/dark-theme-bg.jpg");
}

.App-Primary-Button,
.App-Primary-Text-Button,
.App-Secondary-Button,
.App-Secondary-Text-Button,
.App-Secondary-Outlined-Button,
.App-Accent-Button {
    outline: none;
    border: none;
    padding: 0.5em 1.5em 0.6em 1.5em;
    border-radius: 0.25em;
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 11pt;
    cursor: pointer;
}

.App-Primary-Button {
    background-color: $purpleViolet;
    color: $white;
}

.App-Primary-Text-Button {
    background-color: transparent;
    color: $purpleViolet;
}

.App-Secondary-Button {
    background-color: $white;
    color: lighten($color: $black, $amount: 25);
}

.App-Secondary-Text-Button {
    background-color: transparent;
    color: $white;
}

.App-Secondary-Outlined-Button {
    color: $white;
    border: 1px solid $white;
}

.App-Accent-Button {
    background-color: $pink;
    color: $white;
}
