//Colors
$white: #FFFFFF;
$black: #000000;
$purple: #805ACB;
$purpleViolet: #B388FF;
$blue: #5E6FCB;
$pink: #EF5B85;

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-Primary-Button,
.App-Primary-Text-Button,
.App-Secondary-Button,
.App-Secondary-Text-Button,
.App-Secondary-Outlined-Button,
.App-Accent-Button {
    outline: none;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 11pt;
    cursor: pointer;
}

.App-Primary-Button {
    background-color: $purpleViolet;
    color: $white;
}

.App-Primary-Text-Button {
    background-color: transparent;
    color: $purpleViolet;
}

.App-Secondary-Button {
    background-color: $white;
    color: lighten($color: $black, $amount: 25);
}

.App-Secondary-Text-Button {
    background-color: transparent;
    color: $white;
}

.App-Secondary-Outlined-Button {
    color: $white;
    border: 1px solid $white;
}

.App-Accent-Button {
    background-color: $pink;
    color: $white;
}
