@import "../../App.scss";

.Textfield {
    display: flex;
    align-items: center;
    width: 58em;
    height: 1.75em;
    background-color: $white;
    border: 1px solid lighten($color: $black, $amount: 75);
    border-radius: 5px;
    padding: 0.6em 1em;
    margin-bottom: 2.5em;
}

.Textfield-Search-Icon {
    color: lighten($color: $black, $amount: 50);
    margin-right: 0.5em;
}

.Textfield-Input{
    flex: 1;
    border: none;
    outline: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: lighten($color: $black, $amount: 50);
    margin-bottom: .2em;
}
