@import '../../App.scss';

.TopNavigationBar{
    padding: 0 1.5em;
}

.TopNavigationBar, .TopNavigationBar-LeftSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App-Title{
    font-family: 'Indie Flower', cursive;
}