@import "../../App.scss";

.TopNavigationBar-Light,
.TopNavigationBar-Dark {
    padding: 0.75em 1.5em;
}

.TopNavigationBar-Light {
    background-color: $white;
}

.TopNavigationBar-Dark {
    background-color: lighten($color: $black, $amount: 25);
}

.TopNavigationBar-Light,
.TopNavigationBar-Dark,
.TopNavigationBar-LeftSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App-Title-Dark,
.App-Title-Light {
    font-family: "Indie Flower", cursive;
    margin: 0;
}
.App-Title-Light {
    color: lighten($color: $black, $amount: 25);
}
.App-Title-Dark {
    color: $white;
}

.TopNavigationBar-Nav-Wrapper {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
}
.TopNavigationBar-RightSide {
    display: flex;
    flex-wrap: wrap;
}
.TopNavigationBar-RightSide button {
    margin-right: 1em;
}
