.Home-Light,
.Home-Dark {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-top: 5em;
}

.Home-Light {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/images/light-theme-bg.jpg");
}

.Home-Dark {
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("/images/dark-theme-bg.jpg");
}
