.Home-Light, .Home-Dark{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home-Light{
    background-image: url('/images/light-theme-bg.jpg');
}

.Home-Dark{
    background-image: url('/images/dark-theme-bg.jpg');
}